{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}

    <div class="main-body">

    <p>Welcome to my awesome magical homepage.</p>

    {{ include('cards/flash.html.twig') }}
    

    </div>
    
{% endblock %}
