{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Main</h1>
    <h3>Timothy</h3>
    <p> Jag är Timothy, jag gillar att spela och går i skolan där jag lär mig att programmera, just nu går jag i kurserna webapp och mvc.</p>

    <a href="https://github.com/dbwebb-se/mvc">
        <img src="{{ asset('img/spelar.jpg') }}" alt="" width="100%">
    </a>
{% endblock %}