body {
    margin: 0 auto;
    background-color: #fcf1c0;
    max-width: 100%;
}

h1 {
    border-bottom: 4px double #ccc;
}


.two-col-layouts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 750px;
    margin: 0 auto;
}

.two-col-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
}



.main {
    margin: 0 auto;
    max-width: 1000px;
}

.article {
    overflow: auto;
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 1em;
    padding-right: 1em;
    width: 600px;
}

.article h1 {
    font-size: 2em;
    border-bottom: 4px double #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.article .author {
    margin-top: -1em;
    font-size: 0.8em;
    color: #666;
    font-style: italic;
}



.main,
.main .article {
    min-height: 20em;
}

.aside {
    background-color: #fff;
    border-right: 1px solid #ccc;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 24px;
}

.aside h4 {
    border-bottom: 1px solid #ccc;
}

.column {
    border: 1px solid black;
    padding: 50px;
}


.crazy {
    color: #fffb00;
    font-size: x-large;
    font-style: italic;
    background-color: #000;
    border: 3px dotted #fffb00;
    transform: rotate(-10deg);
    position: relative;
    top: -10px;
    text-align: center
}

@import "navbar.css";

@import "warning.css";

.footer {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: #f9dc5c;
    color: black;
}

.card {
    font-size: 5rem;
    text-align: center;
}

.card span {
    background-color: white;
}

.hearts {
    color: red;
}

.diamonds {
    color: red;
}

.main-body{
    margin: 0 auto;
    max-width: 1000px;
    background-color: #fdf8e1;
    font-size: 2em;
    padding: 1rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

input {
    font-size: 1em;
}

h1 {
    border-bottom: 4px double green;
}


.main-body .route {
    border-top: 2px solid #000;
}

button {
    background-color: #fdf8e1;
    color: #000;
    cursor: pointer;
    padding: 18px 32px;
    border-radius: 12px;
    font-size: 1.5rem;
}

button:hover {
    background-color: #fcf1c0;
}

.site-header {
    height: 700px;
    background-size: 100% 100%;
}


h5 {
    margin: 25px;
}

.indent {
    text-indent: 30px; /* Ändra detta värde efter önskat indrag */
}

.indent2 {
    text-indent: 60px; /* Ändra detta värde efter önskat indrag */
    font-style: italic;
}

.indent3 {
    text-indent: 90px; /* Ändra detta värde efter önskat indrag */
    font-size: 0.63em;
    font-style: italic;
}

.blank {
    height: 25px;
}

.explain {
    font-size: 0.53em;
}

