{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}

    <p>Welcome to my awesome magical homepage.</p>
    <p>Random quote: {{ quote }}</p>

    <h2>{{ date }}</h2>
{% endblock %}