{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="two-col-layouts">
        <aside class="aside">
            <h4>Innehållförteckning</h4>
            <ul>
                <li><a href="#kmom01">kmom01</a></li>
                <li><a href="#kmom02">kmom02</a></li>
                <li><a href="#kmom03">kmom03</a></li>
                <li><a href="#kmom04">kmom04</a></li>
                <li><a href="#kmom05">kmom05</a></li>
                <li><a href="#kmom06">kmom06</a></li>
                <li><a href="#kmom10">kmom10</a></li>
            </ul>
            <h4>Kursrepo</h4>
            <p><a href="https://github.com/dbwebb-se/mvc">Kursrepo på github finns här</a></p>
        </aside>


        <main class="main">
            <article class="article">
                <h1>Redovisning</h1>

                <h2 id="kmom01" class="reports">kmom01</h2>

                <p>
                    Så jag har inte jobbat kring objektorientering så mycket innan, men inom oopython så jobbade jag såklart runt det. Så jag har ju såklart inte så mycket erfarenhet med det men oopython kursen var ju precis så det jag jobbade med är “fräscht” på minnet.


En klass är som en mall för objekt i php, och ett objekt skapas utifrån en klass, ett objekt har medlemsvariabler och metoder. Ett objekt samlar all sin förmåga i metoder och properties, allt som ska lagras finner man i dess medelmsvaraiabler och allt man kan använda sig av med objektet exponeras via dess metoder.
Innan man kommer igång med sina första klasser måste man veta hur man kan använda sig utav ett objekt utan att använda sig utav klasser t.ex i ett muteable objekt som är ett objekt som kan förändra sin struktur under sin levnadstid. Så innan man börjar kan man t.ex testa skriva ut någon text och ett nummer med två properties och lära sig hur det funkar.


                </p>
                <p>
                    Så var lite osäker på hur koden är strukturerad och används i me/report och är fortfarande det eftersom det är så mycket att lära sig på en gång, men förstår ändå lite och säkert det som jag gjort med Controller.php och twig delarna.
Jag tycker det är skönt att koden är väldigt uppdelad så det är lätt att hitta vad man ska hitta men ändå lite jobbigt eftersom det är så mycket olika ställen att hålla koll på.
Hittills var det ändå rätt simpelt, och folderna förklarande ändå för det mesta, vi hade t.ex assets som hade styles, src, js osv, templates som hade våra twig filer som va våra templates, src/controller som hade våra controller php filer där vi gjorde våra klasser.
Så sidan var ändå ganska lik det vi gjorde i typ webbdesign men nu är det lite mer fokus på backend sakerna.

                </p>

                <p>
                    En av delarna jag fann extra intressant och ändå värdefull var att skriva sakerna i en pattern, det underlättar sen så att det man gör ser likadant ut på olika sidor och så man vet vad som gör vad, som t.ex i våra controller php filer ser koden exakt likadan ut på alla sidor men det enda som ändras är innehållet i våran route function, då kan vi lätt se vad som är vad och vad som gör vad vilket underlättar om man ska göra något liknande som en anna route, eller för att gå igenom ens kod och felsöka. Och jag brukar ändå alltid göra det men har inte tänkt på det för mycket att jag gillar att strukturera koden på ett visst sätt så det ser snyggt ut och är lätt läsbart.

Min TIL för detta momentet var, att jobba i en klass och använda mig utav routes för att visa upp en hemsida och dess templates med den datan jag ville som i javascript och det vi gjorde i databas kursen, men nu istället är det ju i php.

                </p>

                <h2 id="kmom02" class="reports">kmom02</h2>
                <p>
                    Arv är ju när en en klass ärver från en annan klass, man kan ju säga att den nya klassen som ärver från den andra är en utökning av basklassen.
                </p>
                <p>
                    Komposition är när en klass har en annan klass i sig och använder den, i vårt fall har ju DeckOfCards 2 klasser som den använder (Cards, CardGraphic).
                </p>
                <p>
                    Interface är som ett kontrakt där en klass lovar att erbjuda vissa metoder, interface innehåller ingen kod som klasserna kan återanvända utan är bara ett löfte att interfaces metoder ska finnas inuti klassen.
Så vi kan göra en interface, och sedan implementera den i våran klass för att använda den.

                </p>
                <p>
                    
Trait är väldigt likt arv men är gjort annorlunda, en trait är typ som en funktion man har i klassen som är gjort utifrån, så vi kan göra en trait som kanske skriva ut “hej”, och sedan använda vi traiten i klassen och då får våran klass tillgång till det.

                </p>
                <p>
                    Så jag hade kommit lite efter så är helt okej nöjd med uppgiften, allt funkar som det ska men skulle fixa hur allt ser ut på sidan lite bättre, och kanske fixa shuffle, just nu så shufflar jag en kopia av decket, men skulle vilja fixa så jag shufflar självaste decket.
                </p>
                <p>
                    Det gick ändå ganska bra att fixa allt, hade ju dice uppgiften som något man kunde kolla på av hur man gjorde klasserna och hur funktionerna funkade, visste redan att det var DeckOfCards som skulle ärva från dem andra klasserna. 
                </p>
                <p>
                    Jag hade ju redan en sida (session) där jag kollade i JSON om allt funkade, så när jag väll skulle fixa api sidorna så gick det väldigt fort, då kunde jag bara göra routes dit och sen kopiera in koden jag hade där.
                </p>

                <p>
                    Jag började med att jobba på klasserna, så jag gjorde klart cards först sen DeckOfCards och testa om det funkade i sidan session, jag gjorde bara grunderna då så jag kunde få en kortlek, sen gjorde jag sakerna i ordningen som stod på uppgiften, shuffle var ju ganska lätt och fixa, eftersom det var bara att använda sig av shuffle(deck), så det gick väldigt fort medans draw tog mycket längre tid för jag fick alltid felet att jag skicka in en array i $data men det behövde vara en string, men sen gjorde jag så man skrev in ett nummer och så loopade man igenom decket så många gånger och tog fram ett random nummer från 0 till antalet kort, och sedan la jag till det i en array och tog bort kortet från decket, och så loopade det om.
                </p>

                <p>
                    
Det har vart helt okej att jobba i Symfony, det är ganska lätt att se när man får ett fel vad som kan vara felet och vart det ligger, det är väldigt likt det vi gjorde i databas kursen med routes och sånt men detta känns lite mer strukturerat och det är lite enklare att hitta vart allting ligger och hur man delar upp allting.
Det är också hyfsat lätt att jobba array och sånt och få dem att funka i twig, så det var inte så mycket problem att få decksen att funka och t.ex loopa igenom dem.

                </p>

                <p>               
Tror inte jag hade jobbat med klasser i php förut så visste inte riktigt att man kunde göra det, så det var typ det jag lärde mig, och hur dem funkar, skönt ändå att jag har gått oopython kursen innan också så det går ändå fort att lära sig eftersom sakerna man gör som t.ex routes eller klasserna är super likt det man gör i andra kurserna.

                </p>

                <h2 id="kmom03" class="reports">kmom3</h2>

                <p>
                    Det var lite jobbigt att hålla på med pseudokod och flödesdiagram i början för det känns som jag verkligen behöver sätta mig ner och pausa innan jag börjar för att nästan tänka igenom allting jag ska göra, i alla fall en mall av uppgiften.

                </p>

                <p>
                    Vilket är lite jobbigt på ett sätt för jag vill gärna börja koda direkt men jag skulle ändå säga att det hjälper mig för då får jag en bild av vad jag ska göra och kanske hur jag ska göra det, då har jag ju som jag nämnde en skiss jag kan gå tillbaka och kolla på ifall jag fastnar på någonting och se hur jag ska tänka eller hur jag kanske tänkte jag skulle lösa det när jag började på uppgiften.
                </p>

                <p>
                    Jag är helt okej nöjd med uppgiften, självaste kodningen kändes ändå hyfsat lätt jag skulle ju såklart kanske kunna fixa en CardHand klass som jag sparar händerna i för spelaren och dealern men jag kände ändå att det inte behövdes, får se om jag ändrar mig längre fram.
                </p>

                <p>
                    Det första jag gjorde när jag skapade var självaste drawCard delen för Blackjack och spara korten i händerna, och det var ju ändå super simpelt det var att dra ett kort från kortleken och sen spara ner i en array.
                </p>

                <p>
                    Jag gjorde också så att drawcard hade en parameter där man skrev in vem det var som skulle lägga till ett kort i handen, så ifall det var spelaren så skickade jag in “player” när man klickade på knappen, och när man klickade på stanna så var det ju dealerns tur, och eftersom vi inte har någon fysiskt dealer så körde jag bara en loop som körde till man fick en viss “poäng” för dealer handen, så sen gjorde jag getScore som tog en hand man skickade in och loopade igenom korten i den och kollade vad handen var värd, och så körde jag insatser för att ge kung, drottning, knäckt och ess deras värden, och jag gjorde så att ifall man drog ett ess så kollade man först hur många poäng man hade, så ifall vi hade t.ex 10 poäng och drog ett ess så var esset bara värt ess eftersom annars hade vi ju förlorat.
                </p>

                <p>
                    Våran gameover var väldigt simpel, där vi bara checkade poängen, och varje gång vi var i game/play så checkade vi ifall spelet var över för att vara redo att uppdatera hur sidan såg ut och ta bort knapparna.
                </p>

                <p>
                    Jag tycker det har varit riktigt skönt och ändå lätt att använda symfony, det går fort att felsöka, det går fort att uppdatera om man har gjort något fel eller vill t.ex ändra något i css och det är lätt att hålla reda på vart allting ligger och vad allting gör, eftersom vi har våra controller, våra klasser osv så det har faktiskt varit ganska kul och lätt att komma igång i även fast jag hamnade lite efter.
                </p>

                <p>
                    Lint delen var det största jag lärde mig, hade ju inte fixat några kommentarer och förklaringar av vad funktionerna gjorde så behövda kolla på https://phpstan.org/blog/solving-phpstan-no-value-type-specified-in-iterable-type och läsa massa där för att ta reda på hur jag skulle fixa fel meddelandena jag fick.
                </p>

            </article>
        </main>
    </div>

{% endblock %}