{% extends "project/project.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="project-main">

    <div class="project-hub">

        <div class="main-button">
            <a href="{{ path('projStart') }}">
                <button>Play BlackJack</button>
            </a>
        </div>

    </div>

    </div>

{% endblock %}